@import "tailwindcss";


@theme inline {
 --font-montserrat: var(--font-montserrat);
 --font-bebas-neue: var(--font-bebas-neue);

 --color-cream : #c39b6d;
 --color-ink : #0a0909;
 --color-night: #2a2522;
 --color-mute : #9a9089;
 --color-light: #f4efe8;
 --color-peach : #ebbf97;

}



body {
  
  font-family: "Montserrat", sans-serif;

}
