@import "tailwindcss";
@config "../../tailwind.config.js";


@theme inline {
 --font-body: var(--font-montserrat), sans-serif;
 --font-highlight: var(--font-bebas-neue), sans-serif;

 --color-cream : #c39b6d;
 --color-ink : #0a0909;
 --color-night: #2a2522;
 --color-mute : #9a9089;
 --color-light: #f4efe8;
 --color-line : #2a2522;
 --color-peach : #ebbf97;

}



body {
  
  font-family: "Montserrat", sans-serif;

}
